.myAccountBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 5rem auto;
    padding: 30px;
    background: #173f5f;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.2);
}

.leftSection {
    flex: 1;
    padding-right: 3rem;
    border-right: 3px solid #0f2c4d;
}

.rightSection {
    flex: 1;
    padding-left: 2rem;
}

.myAccountFormContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.myAccountLabel {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}


.myAccountInput {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height: 2rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    outline: none;
}

.missionsTitle {
    color: #b0b0b0;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid #0f2c4d;
    padding-bottom: 10px;
}

.missionsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type:none;
}

.missionItem {
    background-color: lightblue;
    padding: 15px;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-left: -50px;
}
.missionItem:hover {
    transform: translateY(-5px);
}

.noMissions {
    color: #b0b0b0;
    font-style: italic;
}