
.searchAndButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%; 
}

.searchUser {
  flex: 1; 
  margin-left: 10px; 
  border-radius: 1rem;

}

.usersButtons {
  display: flex;
  align-items: center;
  margin: 0;
}

.btnPages {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnPrevious {
  position: absolute;
  left: 4px;
  background-color: white;
  color: #173f5f;
  cursor: pointer;
  border-radius: 20%;
  bottom: 31.8rem;
  z-index: 9999;
  padding: 0.5rem 1rem; 
  font-size: 0.9rem; 
}

.list {
  border-radius: 15px;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.list li {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.list li:last-child {
  border-bottom: none;
}

.btnNext {
  position: absolute;
  left: 689px;
  background-color: white;
  color: #173f5f;
  cursor: pointer;
  border-radius: 20%;
  bottom: 31.8rem;
  z-index: 9999;
  padding: 0.5rem 1rem; 
  font-size: 0.9rem; 
}

.btnPrevious:hover,
.btnNext:hover {
  scale: 1.1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.listContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  max-width: 80%;
}

.listSubHeader {
  cursor: pointer;
}

.listItemText {
  cursor: pointer;
}

.listItem {
  transition: background-color 0.3s;
}

.listItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.userBox {
  height: 84vh;
  overflow: auto;
}

.users {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: lightblue;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}

.usersButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}

.addIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #36d1dc, #5b86e5);
  color: white;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin:0.6rem;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addIcon:hover {
  transform: scale(1.2);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.editIconEditOff,
.editIconEditOn,
.deleteIconRemovingOn,
.deleteIconRemovingOff {
  color: black;
  scale: 1.8;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin-right: 1.5rem;
}

.userBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 1rem;
  border-radius: 15px;
  padding: 0 2rem;
  height: 6rem;
  width: 6rem;
  scale: 1.2;
  cursor: pointer;
}

.userBtn:hover {
  background-color: rgb(228, 228, 228);
  transition: 0.3s all;
}

a {
  text-decoration: none !important;
  color: black;
}

::selection {
  background: none;
}

.MuiListItemText-root.MuiListItemText-multiline.listItemText.css-aqg2kt-MuiListItemText-root {
  margin: 0;
  padding: 6px 0;
}

.checkBoxContainer {
  margin: 1rem;
}

@media (max-width: 900px) {
  .userBtn {
    margin: -0.85rem 0rem;
  }

  .users {
    width: 80%;
  }

  .deleteIconRemovingOn,
  .deleteIconRemovingOff,
  .editIconEditOn,
  .editIconEditOff,
  .addIcon {
    scale: 2;
  }

  .list {
    width: 80%;
  }

  .btnPages {
    position: relative;
  }

  .btnNext {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    z-index: 1;
  }

  .btnPrevious {
    top: -4.55rem;
    z-index: 1;
  }

  label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.formControlLabel.css-14qnuji-MuiFormControlLabel-root {
    margin-bottom: 0rem;
  }

  .MuiFormGroup-root.css-2n2v8f-MuiFormGroup-root {
    flex-direction: COLUMN;
  }

  .listContainer {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    max-width: 90%;
  }
}
