.addUserBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
  margin: 4rem auto;
  padding: 20px;
  background: #173f5f;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
.dark-mode .addUserBox {
  background: #333;
  border: 1px solid #555;
}
.addUserLabel,
.addAddressLabel {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  width: 28rem;
  padding: 0 2rem;
  margin: 0.5rem auto;
  color: white;
}
.dark-mode .addUserLabel,
.dark-mode .addAddressLabel {
  color: #ddd;
}

.addUserFormContent {
  display: flex;
  flex-wrap: wrap;
  width: clamp(90%, 90%, 100%);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.addUserFormBtn {
  margin-top: 1.2rem;
}

.addUserLabel {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  width: 28rem;
  padding: 0 2rem;
  margin: 0.5rem auto;
  color: white;
}

.addUserInput {
  display: block;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 2.3rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  border-radius: 0.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dark-mode .addUserInput {
  background-color: rgba(50, 50, 50, 0.8);
  color: #ddd;
  border: 1px solid #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  outline: none; 
}
.dark-mode .addUserInput:focus {
  border: 1px solid #1a73e8;
  box-shadow: 0 0 8px rgba(26, 115, 232, 0.6);
}
.addUserInput option {
  background: #173f5f;
  color: #fff;
}

.dark-mode .addUserInput option {
  background: #444;
  color: white;
}
.passContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.eye,
.eyeOff {
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  cursor: pointer;
  color: white;
}

.addUserError {
  color: red;
  font-weight: bold;
}

.addUserButton {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1rem;
}
.dark-mode .addUserButton {
  background-color: #444;
  color: white;
}

.addUserButton:hover {
  background-color: rgb(169, 196, 215);
}

.dark-mode .addUserButton:hover {
  background-color: #666;
}

.addUserButton:active {
  animation: 0.05s clicked forwards ease-in-out;
}

@keyframes clicked {
  0% {
    scale: 1;
  }

  100% {
    scale: 0.9;
  }
}

.addAddressLabel {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  width: 28rem;
  padding: 0 2rem;
  margin: 0.5rem auto;
  color: white;
}

.addAddressLabel .searchAddressList {
  font-size: 1rem;
}

.addAddressLabel .form-group label {
  font-size: 1.4rem;
}

.addAddressLabel .form-group {
  margin: 0;
}
